.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red($color: #000000);
}

.products__single {
  margin: 20px;
  display: inline-block;
}

.products__single img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.products__single span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination span {
    cursor: pointer;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .pagination__selected {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }